<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Enviar parametros del request HTTP - GET - URL</title>
</head>
<body>

  <h1>Enviar parametros del request HTTP - GET - URL</h1>

  <ul>
    <li><a th:href="@{/params/string(texto='Jon Snow')}">/params/string?texto=Jon Snow</a></li>
    <li><a th:href="@{/params/string(texto='Arya Stark')}">/params/string?texto=Arya Stark</a></li>
    <li><a th:href="@{/params/mix-params(saludo='Hola Arya Stark', numero=12)}">/params/mix-params?texto=Hola Arya Stark&numero= 30</a></li>
  </ul>

</body>
</html>